<div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
                <div class="col-lg-3">
                  <div class="ibox float-e-margins">
                    <div class="ibox-title">
                      <span class="label label-success pull-right"></span>
                      <h5>Doctors</h5>
                    </div>
                    <div class="ibox-content">
                      <h1 class="no-margins">{{doctorCount}}</h1>
                      <!--
                      <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div>
                      <small>Total income</small>
                      -->
                    </div>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="ibox float-e-margins">
                    <div class="ibox-title">
                      <span class="label label-info pull-right"></span>
                      <h5>Nurses</h5>
                    </div>
                    <div class="ibox-content">
                      <h1 class="no-margins">{{nurseCount}}</h1>
                      <!--
                      <div class="stat-percent font-bold text-info">20% <i class="fa fa-level-up"></i></div>
                      <small>New orders</small>
                      -->
                    </div>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="ibox float-e-margins">
                    <div class="ibox-title">
                      <span class="label label-primary pull-right"></span>
                      <h5>Laboratories</h5>
                    </div>
                    <div class="ibox-content">
                      <h1 class="no-margins">{{labCount}}</h1>
                      <!--
                      <div class="stat-percent font-bold text-navy">44% <i class="fa fa-level-up"></i></div>
                      <small>Laboratories</small>
                      -->
                    </div>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="ibox float-e-margins">
                    <div class="ibox-title">
                      <span class="label label-danger pull-right"></span>
                      <h5>Radiographies</h5>
                    </div>
                    <div class="ibox-content">
                      <h1 class="no-margins">{{radioCount}}</h1>
                      <!--
                      <div class="stat-percent font-bold text-danger">38% <i class="fa fa-level-down"></i></div>
                      <small>In first month</small>
                      -->
                    </div>
                  </div>
                </div>
              </div>
</div>
